body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.slink {
	width: 35px;
}

.content {
	font-size: 19px;
}

.proj-img {
	width:100%;
}

.pad-left {
	padding-left: 10px;
}
